<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/logo-jo.png" alt="My App Logo" width="80"/>
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Tableau des médailles</a></li>
        <li><a routerLink="/services">Performances des Athlètes</a></li>
        <li><a routerLink="/blog">Statistiques Spécifiques</a></li>
        <li><a routerLink="/contact">Classements Actualisés</a></li>
    </ul>
    <div class="navbar-actions">
        <!-- Add login/logout buttons or user-related actions here -->
    </div>
</nav>