<div class="container">
    <div class="text-star">
        <button type="button" class="btn btn-success" (click)="start()">Démarrer</button>
        <button type="button" class="btn btn-danger" (click)="stop()">Arrêter</button>
    </div>
    <div class="text-end">
        {{ getFormattedTime() }}
    </div>
    <div class="mt-4">
        <table class="table table-striped" aria-describedby="tableau des médailles">
            <thead>
            <tr>
                <th scope="col">Heure de début</th>
                <th scope="col">Discipline</th>
                <th scope="col">Genre</th>
                <th scope="col">Athlètes</th>
                <th scope="col">Performances</th>
                <th scope="col">Médaille</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medal of selectedPerformances | keyvalue">
                <td>{{ medal.value.dateTimeBegin }}</td>
                <td>{{ medal.value.sport }}</td>
                <td>{{ medal.value.sex }}</td>
                <td>{{ medal.key }}</td>
                <td>{{ medal.value.mark }}</td>
                <td>{{ medal.value.medals }}</td>
            </tr>
            <tr>
            </tbody>
        </table>
    </div>
</div>