<div class="container">
    <table class="table table-striped" aria-describedby="tableau des médailles">
        <thead>
        <tr>
            <th scope="col">Country</th>
            <th scope="col">Gold</th>
            <th scope="col">Silver</th>
            <th scope="col">Bronze</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medal of medals | keyvalue">
            <td>{{ medal.key }}</td>
            <td>{{ medal.value.gold }}</td>
            <td>{{ medal.value.silver }}</td>
            <td>{{ medal.value.bronze }}</td>
        </tr>
        <tr>
        </tbody>
    </table>
</div>